In [2]:
pip install jupyter  #설치
pip uninstall jupyter #삭제

juoyter notbook

C:\Users\soldesk\AppData\Local\Temp\ipykernel_10648\1014303460.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [9]:
print(3 + 5)

8

In [11]:
print(3 +5) # 행단위 언어
print(3 * 5)

8
15

In [12]:
print(3 + 5);print(3 * 5)

8
15

In [13]:
i = 10
if i <= 20:
    print("작다")

print("끝")

작다
끝

In [16]:
# 파이썬 기본 자료형
# 리터널 : 숫자 : 정수 : 10, 5, 100 
#                 실수: 10.5, 0.6
#          문자 : 한국어, 일본어 중국어, 영어, : 가, apple
# 정수 리터널
print(3 + 6)
i = 10 # i : 변수 : 10이라는 정수리터널을 가지고 있는 변수
print(i) # 10
print(10)
# 변수는 오로지 하나의 값만 가진다.

9
10
10

In [17]:
i = 20
print(i)

20

In [20]:
# 변수는 초기값을 가져야 한다.
i1 = 30
print(i1)

30

In [21]:
print(i2) # name 'i2' is not defined오류 발생

NameError: name 'i2' is not defined

In [24]:
i = 10 # 정수리터널
print(i)
i = 10.5 # 실수리터널
print(i)

10
10.5

In [37]:
# 숫자 연산자 : +, - , *, / , %, //, **
print(10 * 2)
a = 10
b = 2
print(a * b)
print(10 / 2)
print(a / b)
# 나머지  : %
print( 10 / 3)
print( 10 % 3)
#  몫 연산자
print(10 / 3)
print(10 // 3)
a = 10
b = 3
print( a // b )
# 제곱승 연산자 : 
print( 10 ** 3)
print( 10 ** 2)

20
20
5.0
5.0
3.3333333333333335
1
3.3333333333333335
3
3
1000
100

In [60]:
# 숫자리터널
# 문자리터널 : "a", "apple", "이숭무", "", ''
a = 10 # 정수리터널 변수
b = a
print(b)
이숭무 = "apple"
print(이숭무)
이숭무 = 'apple1'
print(이숭무)
a = "10" # 문자리터널
a = 10
#20 = "a" : 숫자는 변수로 사용할 수 없다.
str1 = "이숭무"
print(str1)
str1  = '이숭무'
print(str1)
print("10") #문자리터널
print('10') 
이2 = "이숭무"
print(이2)

10
apple
apple1
이숭무
이숭무
10
10
이숭무

In [59]:
# 문자리터널 연산자 : + , *
print(10 + 10)
print("10" + "10") #  연결연산자.
print("python" + " is fun")
a = "python"
b = "is"
c ="fun"
print(a + " " + b + " " + c)
str1 = "이숭무"
print("이숭무이숭무이숭무")
print("이숭무" * 3) #반복연산자

20
1010
python is fun
python is fun
이숭무이숭무이숭무
이숭무이숭무이숭무

In [88]:
str1 = "Life is short,\nYou need python" #escape문자 : \
print(str1)
str1 = 'Life\'s short,\nYou need python'
print(str1)
str1 = "Life is short,\n\"You need python\""
print(str1)
str1 = 'Life is short,\n"You need python"'
print(str1)
str1 = "Life's short,\nYou need python"
print(str1)
str1 = "Life's short,\n\"You need python\""
print(str1)

Life is short,
You need python
Life's short,
You need python
Life is short,
"You need python"
Life is short,
"You need python"
Life's short,
You need python
Life's
short,
"You need python"

In [92]:
str1 = """You need pytho 
Life's short"""
print(str1)
str1 = '''You need pytho 
Life's short'''
print(str1)
# 문자열을 표기하는 방법 : " " ,' ' ,""" """, ''' '''

You need pytho
Life's short
You need pytho
Life's short

In [96]:
str1 = "Life is short, You need python"
print(str1)
print(len(str1))
print(str1)

Life is short, You need python
30
Life is short, You need python

In [107]:
# 문자열 인덱싱 indexing : index을 이용하는 것 : index는 문자가 가지고 있는 고유의 번호(0 부터)
str1 =  "Life is short"
#        0123456789012 # index
#                  1
print(str1)
print(str1[9])
print(str1[0])
print(str1[12])
print(len(str1))
print(str1[len(str1) -1])
print(str1[2])
print("Life is short"[2])

Life is short
h
L
t
13
t
f
f

In [113]:
str1 =  "Life is short"
#                  111
#        0123456789012
#        1111
#       -3210987654321
print(str1[12])
print(str1[-1])
print(str1[0])
print(str1[-13])
print(str1[12])
print(str1[len(str1)-1])
print(str1[-13])
print(str1[-len(str1)])

t
t
L
L
t
t
L
L

In [115]:
str1 =  "Life is short"
# Life를 출력하자.
print(str1[0])
print(str1[1])
print(str1[2])
print(str1[3])
print(str1[0] + str1[1] + str1[2] + str1[3])

L
i
f
e
Life

In [120]:
#slicing
str1 =  "Life is short"
#                  111
#        0123456789012
#        1111
#       -3210987654321
# life
print(str1[0:0 + 4])
print(str1[0:4]) # 0부터 4전까지만 가져오기 (0,1,2,3)
print(str1[0:3]) # 0부터 3전까지만 가져오기 (0,1,2)
# short  
print(str1[8:8+5])
print(str1[8:13])
# index5번부터 6글자 가져오기
print(str1[5:5+6])
idx = 3
cnt = 5
print(str1[idx:idx+cnt])

Life
Life
Lif
short
short
is sho
e is

In [130]:
str1 =  "Life is too short" # index : 문자가 가지고 있는 고유의 번호
#                  1111111
#        01234567890123456
#        11111111
#       -76543210987654321
print(str1[3])  # indexing
print(str1[-4]) 
print(str1[5:10])
print(str1[-8:10])
print(str1[5:-3])
print(str1[-8:-3])
#too : 8번부터 3글자
print(str1[8:8+3])
print(str1[8:-9+3])
print(str1[8:-6])
print(str1[-9:11])

e
h
is to
o
is too sh
oo sh
too
too
too
too

In [159]:
# 날짜(년,월,일)와 이름을 분리하여 출력
a = "20010331Rainy"

print(a[0:0+8])
print(a[8:]) # 마지막 index는 지정해주지 않아도 된다.
print(a[:0+8]) # 첫 index는 0이므로 지정하지 않아도 된다.
#년
print(a[:4])
#월
print(a[4:4+2])
#일
print(a[6:6+2])

13

In [139]:
print(str1)
print(str1[0:len(str1)])
print(str1[0:17])
print(len(str1))
print(str1[:])

Life is too short
Life is too short
Life is too short
17
Life is too short

In [149]:
# 하나 건너서 출력
print(str1[:])
print(str1[::2])
#reverse
print(str1[::-1])
# 2번부터 13번까지 하나 건너서 출력
print(str1[2:14:2])
# 13번부터 2번까지 reverse
print(str1[2:14])
print(str1[13:1:-1])

Life is too short
Lf stosot
trohs oot si efiL
f stos
fe is too sh
hs oot si ef

In [154]:
str1="pithon" 
print(str1[1])
#str1[1] = 'y'#문자열은 index를 이용해서 수정 할 수 없다. 
print(str1[0] + 'y' + str1[2:])

i
python

In [165]:
# 포맷문자열 포매팅
'나의 이름은 이숭무이고 나이는 20살입니다.'
name = '이상범'
age = 30
print('나의 이름은 ' + name + '이고 나이는 ' + str(age) + '살입니다.')
print('나의 이름은 %s이고 나이는 %d살입니다.' % (name, age))
# 포맷문자 : %s:string:문자열 , %d:10진정수 : deciaml , %f:실수 :float , %c:문자 :charecter
print('나의 나이는 20살입니다.')
print('나의 나이는 %d살입니다.'  % age)
print('나의 나이는 %d살입니다.'  % (age))

나의 이름은 이상범이고 나이는 30살입니다.
나의 이름은 이상범이고 나이는 30살입니다.
나의 나이는 20살입니다.
나의 나이는 30살입니다.
나의 나이는 30살입니다.

In [169]:
'이숭무의 계좌번호는 1111이고 잔액은 100입니다.'
name='이상범'
account = '2222'
money=1000
result = '%s의 계좌번호는 %s이고 잔액은 %d입니다.' % (name, account, money)
print(result)

이상범의 계좌번호는 2222이고 잔액은 1000입니다.

In [180]:
"이숭무의 나이는 20살이고 키는 175.3입니다"
height = 173.55
print("%s의 나이는 %d살이고 키는 %f입니다" % (name, age, height))
print("%s의 나이는 %d살이고 키는 %5.1f입니다" % (name, age, height))
height = 173.5555555555
print("%s의 나이는 %d살이고 키는 %14.10f입니다" % (name, age, height))
height = 173.55
print("%s의 나이는 %d살이고 키는 %4.1f입니다" % (name, age, height))
print("%s의 나이는 %d살이고 키는 %.1f입니다" % (name, age, height))
print("%s의 나이는 %s살이고 키는 %s입니다" % (name, age, height))

이상범의 나이는 30살이고 키는 173.550000입니다
이상범의 나이는 30살이고 키는 173.6입니다
이상범의 나이는 30살이고 키는 173.5555555555입니다
이상범의 나이는 30살이고 키는 173.6입니다
이상범의 나이는 30살이고 키는 173.6입니다
이상범의 나이는 30살이고 키는 173.55입니다

In [182]:
# 정렬 : -는 왼쪽정렬, +는 오른쪽 정렬 
"         이숭무의 나이는         20살이고 키는        175.3입니다"
"이숭무의          나이는 20        살이고 키는 175.3       입니다"
print("%15s의 나이는 %10d살이고 키는 %10.1f입니다" % (name, age, height))
print("%-15s의 나이는 %-10d살이고 키는 %-10.1f입니다" % (name, age, height))

            이상범의 나이는         30살이고 키는      173.6입니다
이상범            의 나이는 30        살이고 키는 173.6     입니다

In [189]:
# format 함수를 사용한 포매팅
#str1, a, i, b : 변수
#len(), str(), int(), print(), format() :함수
height =  173.55
'이숭무의 나이는 20살이고 키는 173.5입니다'
print('%s의 나이는 %d살이고 키는 %f입니다' % (name, age, height) )
print('{1}의 나이는 {0}살이고 키는 {2}입니다'.format(age, name, height));
#                                                   0    1      2
'이숭무의 나이는 20살이고 이숭무의 키는 173.5입니다'
print('%s의 나이는 %d살이고 %s의 키는 %f입니다' % (name, age ,name, height))
print('{1}의 나이는 {0}살이고 {1}의 키는 {2}입니다'.format(age,name,height));
print('{1}의 나이는 {0}살이고 {1}의 키는 {2}입니다'.format(age,name,173.55));

이상범의 나이는 30살이고 키는 173.550000입니다
이상범의 나이는 30살이고 키는 173.55입니다
이상범의 나이는 30살이고 이상범의 키는 173.550000입니다
이상범의 나이는 30살이고 이상범의 키는 173.55입니다
이상범의 나이는 30살이고 이상범의 키는 173.55입니다

In [199]:
# format함수에 이름으로 넣기
'이숭무의 나이는 20살이고 키는 173.5입니다'
print('{1}의 나이는 {0}살이고 키는 {2}입니다'.format(30, '이상범', 175.5))
print('{1}의 나이는 {0}살이고 키는 {h}입니다'.format(age, name, h = 175.5))
print('{1}의 나이는 {0}살이고 키는 {2}입니다'.format(age, name, height))
print('{1}의 나이는 {0}살이고 키는 {h}입니다'.format(age, name, h = height))
# print('{1}의 나이는 {a}살이고 키는 {h}입니다'.format(a = age, name, h = height))
# positional argument follows keyword argument
print('{n}의 나이는 {0}살이고 키는 {h}입니다'.format(age, n=name, h = height))

이상범의 나이는 30살이고 키는 175.5입니다
이상범의 나이는 30살이고 키는 175.5입니다
이상범의 나이는 30살이고 키는 173.55입니다
이상범의 나이는 30살이고 키는 173.55입니다
이상범의 나이는 30살이고 키는 173.55입니다

In [222]:
#format함수를 이용한 정렬
'이숭무의 나이는 20살이고 키는 173.5입니다'
print("%10s의 나이는 %10d살이고 키는 %10.1f입니다" % (name, age, height))
print('{1:10}의 나이는 {0:10}살이고 키는 {2:10}입니다'.format(age, name, height))
# 문자는 왼쪽 숫자 오른쪽
print('{1:10}의 나이는 {0:10}살이고 키는 {2:10}입니다'.format(age, name, height))
print('{1:>10}의 나이는 {0:>10}살이고 키는 {2:>10}입니다'.format(age, name, height))
print('{1:<10}의 나이는 {0:<10}살이고 키는 {2:<10}입니다'.format(age, name, height))
print('{1:^10}의 나이는 {0:^10}살이고 키는 {2:^10}입니다'.format(age, name, height))
print('{1:-^10}의 나이는 {0:!^10}살이고 키는 {2:*^10}입니다'.format(age, name, height))
print('{이숭무}의 나이는 {0:10}살이고 키는 {1:10.1f}입니다'.format(age, height, 이숭무=name))
print('{{ 이숭무 }}의 나이는 {0:10}살이고 키는 {1:10.1f}입니다'.format(age, height))
print('{{ 2 }}의 나이는 {0:10}살이고 키는 {1:10.1f}입니다'.format(age, height, name))
# {{ 2 }}하면 문자가 오게 된다.

       이장범의 나이는         30살이고 키는      173.5입니다
이장범       의 나이는         30살이고 키는      173.5입니다
이장범       의 나이는         30살이고 키는      173.5입니다
       이장범의 나이는         30살이고 키는      173.5입니다
이장범       의 나이는 30        살이고 키는 173.5     입니다
   이장범    의 나이는     30    살이고 키는   173.5   입니다
---이장범----의 나이는 !!!!30!!!!살이고 키는 **173.5***입니다
이장범의 나이는         30살이고 키는      173.5입니다
{ 이숭무 }의 나이는         30살이고 키는      173.5입니다
{ 2 }의 나이는         30살이고 키는      173.5입니다

In [223]:
#f 문자열 포매팅
name='이장범'
age=30
height = 173.5
'이숭무의 나이는 20살이고 키는 173.5입니다'
print("%s의 나이는 %d살이고 키는 %.1f입니다" % (name, age, height)) # c언어타입
print('{1}의 나이는 {0}살이고 키는 {2}입니다'.format(age, name, height))
print(f'{name}의 나이는 {age}살이고 키는 {height}입니다')
result = f'{name}의 나이는 {age}살이고 키는 {height}입니다'
print(result)

이장범의 나이는 30살이고 키는 173.5입니다
이장범의 나이는 30살이고 키는 173.5입니다
이장범의 나이는 30살이고 키는 173.5입니다
이장범의 나이는 30살이고 키는 173.5입니다

In [230]:
# 문자열 가공 : 문자열 함수
a = "hobby"
print(a)
# 문자열의 길이
print(len(a)) # len : length
print(len("hobby"))
# 특정문자의 갯수
print(a.count('b'))
print("hobby".count('b'))
print(str1)
print(str1.count("i"))

hobby
5
5
2
2
pithon
1

In [239]:
str1 = "Lite is too short, You need python"
#                 1          2         3
#       0123456789012344567890123456789012
print(str1)
print(str1[8:8+3])
#index함수
# too에 해당하는 index를 가져오기
idx = str1.index("too")
print(idx)
print(str1[idx:idx + 3])
cnt = len("too")
print(str1[str1.index("too"):str1.index("too") + cnt])

idx =  str1.index('t') #왼쪽에서 첫번째 만나는 문자열의 index
print(idx)

Lite is too short, You need python
too
8
too
too
2

In [245]:
print(str1)
##str1에서 첫번째 i가 있는 문자부터 10글자
idx = str1.index("i")
print(str1[idx:idx+10])

## str1에서 첫번째 is가 있는 문자부터 10글자
idx = str1.index("is")
print(idx)
print(str1[idx:idx+10])

Lite is too short, You need python
ite is too
5
is too sho

In [250]:
### 두번째 i부터 10글자
#Lite is too short, You need python
#012345678
idx = str1.index('i', 2) # 2는 첫번째 i의 index에 1더하기
print(idx)

ix = str1.index('i') # 첫번째 i의 index를 가져오기
print(ix)

# 두번째 i의 index 가져오기
idx = str1.index('i',ix + 1) # 첫번째 i의 index에서 두번째  i의 index를 찾기 위해 첫번째 i의 index에 1을 더한다.
print(idx)
idx = str1.index('i',str1.index('i') + 1)
print(idx)

print(str1[idx:idx+10])

5
1
5
5
is too sho
Lite is too short, You need python

In [251]:
# 3번째 t의 index를 가져오시오
idx = str1.index('t' , str1.index('t', str1.index('t') + 1) + 1)
print(idx)

16

In [254]:
# Lite is too short, You need python
# 0123456789...
#                            -654321
#마지막에 있는 't'
idx = str1.rindex('t')
print(idx)
print(str1[idx:idx+3])

30
tho

In [264]:
#find : index처럼 문자열의 index를 가져온다.
idx = str1.find("too")
print(idx)
idx = str1.find('t')
print(idx)
# 세번째 t의 index를 가져오기
idx = str1.find( 't' , str1.find('t', str1.find('t') + 1) + 1 )
print(idx)
# 마지막 't'의 index
idx = str1.rfind('t')
print(idx)
# find와 index의 차이점
print(str1.find('zoo')) # 찿는 문자열의 index가 없다면 -1 값을 가져온다.
# print(str1.index('zoo')) # 찾는 문자열이 없으면 오류 발생

8
2
16
30
-1

In [270]:
print(str1)
# 문자열을 모두 소문자로 출력
print(str1.lower())
print(str1) # 원본 값은 변경되지 않는다.
# 문자열을 모두 대문자로 출력
print(str1.upper())
str2= str1.upper()
print(str2)
print(str1)# 원본 값은 변경되지 않는다.

Lite is too short, You need python
lite is too short, you need python
Lite is too short, You need python
LITE IS TOO SHORT, YOU NEED PYTHON
LITE IS TOO SHORT, YOU NEED PYTHON
Lite is too short, You need python

In [277]:
str2 = "    highalnd0     "
if str2 == "highalnd0":
    print("같다")
else:
    print("다르다")

같다

In [280]:
#양옆에 있는 공백문자 지우기 : strip()
print(str2)
result = str2.strip()
print(result)
if str2.strip() == "highalnd0":
    print("같다")
else:
    print("다르다")

    highalnd0
highalnd0
같다

In [293]:
str3 = "   Life is too short    "; #중간에 있는 공백문자는 정상적인 데이터이다.
result = str3.strip()
print(result)
result = str3.rstrip()
print(result)
result = str3.lstrip()
print(result)
str3 = "abLife is too shortab";
result = str3.strip("ab")
print(result)
result = str3.rstrip("ab")
print(result)
result = str3.lstrip("ab")
print(result)
str3 = "abcdLife is too shortcdab";
result = str3.strip("ab").strip("cd")
print(result)
str3 = "    abLife is too shortab      " ;
result = str3.strip().strip("ab");
print(result)
str3 = "    abcdLife is too shortcdab      " ;
result = str3.strip().strip("ab").strip("cd");
print(result)

Life is too short
   Life is too short
Life is too short
Life is too short
abLife is too short
Life is too shortab
Life is too short
Life is too short
Life is too short

In [295]:
### # 문자열 대체하기
str1 = "Life is too short"
str2 = str1.replace("Life", "Your leg");
print(str2)
print(str1)

Your leg is too short
Life is too short

In [300]:
# 쪼개기 : split : 결과는 리스트가 된다.
str1 = "Life is too short"
str2 = str1.split()
print(str2) # ['Life', 'is', 'too', 'short'] : 리스트

str1 = "Life:is:too:short"
str2 = str1.split(":")
print(str2)

['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short']