In [7]:
#자료형 : 기본자료형 : 
#            리터널 : 정수 : 10 
#                    실수 : 10.5
#                    문자 : "a", '이숭무' , "10"(문자) , "10.5"(문자) , y : 변수
#       : 파이썬 : 리스트 : [] : 여러개의 값을 저장  : 
i = 10
print(i)
i = 20 # 한개 값만 저장한다는 단점
print(i)
f = 10.5
print(f)
f = 1.5
print(f)
str1 = "이숭무"
print(str1)
i1 = 10
print(i1)
print(i)

10
20
10.5
1.5
이숭무
10
20

In [8]:
str1 = "Life is too short"
result = str1.split() 
print(result)

['Life', 'is', 'too', 'short']

In [9]:
l = ['Life', 'is', 'too', 'short']
print(l)

['Life', 'is', 'too', 'short']

In [10]:
# 리스트 형식
l = [] # 빈 리스트
l = [1,2,3,4] #정수형 리스트
l = ["이숭무", "이상범", "이장범"] # 문자열형 리스트
l = [10, "이숭무", 10.5] #혼합형 리스트
l = [10, "이숭무", 10.5,[1,2,3]] # 리스트를 포함한 혼합형 리스트
l = [[1,2,3,4] , [5,6,7,8]] #리스트를 포함한 리스트

In [17]:
# indexing 
str1 = "Life is too short"
#                 1
#       01234567890123456
#       11111111
#      -76543210987654321
print(str1[2])
l = ["이숭무", "이상범", "이장범"] 
#       0         1         2 index
#      -3         2         1
print(l[0])
print(l[1])
print(l[2])
print(str1[0])
print(str1[1])
print(str1[2])
print(str1[-17])
print(str1[-16])
print(str1[-15])
print(l[-3])
print(l[-2])
print(l[-1])

f
이숭무
이상범
이장범
L
i
f
L
i
f
이숭무
이상범
이장범

In [35]:
l=[1 , 2 , 'Life' , 'is', [3,4,5] , 'too' , [1] , 0.5 , 'short', "30"]
#    0   1    2       3      4        5     6     7       8      9  
print(l[0]) # 정수
print(l[2]) # 문자
print(l[4]) # 리스트
print(l[6]) # 리스트
print(l[7]) # 실수
print(l[9]) # 문자
# 리스트를  indexing을 했더니 결과 값은 요소의 본연의 자료형으로 가져온다.
print(l[0] + l[1])
print(l[2] + l[3])
print(l[5] * l[1])  # 자료형이 가진 연산자를 사용할 수 있다.
print(l[1] +  int(l[9]))
print(str(l[0]) + l[9] )

1
Life
[3, 4, 5]
[1]
0.5
30
3
Lifeis
tootoo
32
130

In [44]:
a = [1, 2, 3, ['a', 'b', 'c']]
#    0  1  2         3
#               0    1    2
#   -4  3  2         1
#              -3    2    1
print(a)
l1 = a[3]
print(l1)  # ['a', 'b', 'c']
#              0    1    2
print(l1[1])
print(a[3][1])
print(a[3][2])

print(a[-1][-2])
print(a[3][-2])

[1, 2, 3, ['a', 'b', 'c']]
['a', 'b', 'c']
b
b
c
b
b

In [49]:
a = [1, 2, 3, ['a', 'b', ['life', 'is'] ] ]
#    0  1  2             3
#               0     1         2   
#                            0      1
print(a[3]) # ['a', 'b', ['life', 'is']]
#               0    1         3
b = a[3] 
print(b) # ['a', 'b', ['life', 'is']]
#            0    1          2
c  = b[2]  # ['life', 'is']
#               0       1
print(c) 
print(a[3][2][0]) # life : 문자
#                   0123
print(a[3][2][0][1]) # i

['a', 'b', ['life', 'is']]
['a', 'b', ['life', 'is']]
['life', 'is']
life
i

In [65]:
# slicing
str1 ='Life is too short'
#      01234567890123456
#                1
print(str1[0:4])
print(str1[8:8+3])
l = [1, 2, 3, 4]
#    0  1  2  3
print(l[1])
print(l[0:0+3])
print(l[1:1+3])
print(l[1:4])
print("==" * 30)
print(l[1]) # indexing을 하는 경우에는  요소가지고 있는 자료형으로 출력
print(l[1:1+2]) # slicing을 하면 리스트로 출력이 된다.
print(l[2])
print(l[2:2+1])

print(l[2] + l[3])
# print(l[2:2+1] + l[3])
# print(int(l[2:2+1]) + l[3])

Life
too
2
[1, 2, 3]
[2, 3, 4]
[2, 3, 4]
============================================================
2
[2, 3]
3
[3]
7

In [73]:
result = ['Life', 'is', 'too', 'short'] 
#           0      1       2      3
print(result)
print(result[0])
print(result[1]) # indexing
print(result[1: 1+2])
print(result[1: 1+1]) # slicing
print(result[0] + result[1])
# print(result[1: 1+1] + result[0])

['Life', 'is', 'too', 'short']
Life
is
['is', 'too']
['is']
Lifeis

In [104]:
# 리스트의 연산자 : + , *
l = [1,2,3,4,'Life', 'is', 'too', 'short']
print(l[0] + l[1])
print(l[4] + l[5])
print(l[0:0+1] + l[1:1+1]) # [0] + [1] # 연결
print(l[0:0+3] + l[4:4+3]) # [1,2,3] + ['Life', 'is', 'too']
print(l[3:3+3])
print(l[2])
print(l[3:3+3] * l[2]) # 리스트 * 정수
str1 = "Life is too short"
#                     -21
print(str1[0:])
print(str1[0: -1])
print("==" * 30)
print(str1[0: 0 + 0])
print(str1[1: 1 + 0])
print("==" * 30)
print(str1[:])
print("==" * 30)
print(str1[::-1])
print(l)
print(l[:])
print(l[::-1])
print("==" * 30)
print(str1[3:8])
print(str1[7:2:-1])
print(l[3:8])  # [4, 'Life', 'is', 'too', 'short']
print(l[7:2:-1]) # ['short', 'too', 'is', 'Life', 4]

3
Lifeis
[1, 2]
[1, 2, 3, 'Life', 'is', 'too']
[4, 'Life', 'is']
3
[4, 'Life', 'is', 4, 'Life', 'is', 4, 'Life', 'is']
Life is too short
Life is too shor
============================================================


============================================================
Life is too short
============================================================
trohs oot si efiL
[1, 2, 3, 4, 'Life', 'is', 'too', 'short']
[1, 2, 3, 4, 'Life', 'is', 'too', 'short']
['short', 'too', 'is', 'Life', 4, 3, 2, 1]
============================================================
e is
 si e
[4, 'Life', 'is', 'too', 'short']
['short', 'too', 'is', 'Life', 4]

In [111]:
str1 = 'Lyfe is too short'
print(str1[1])
# str1[1] = "i"
str1 = str1.replace("Lyfe", "Life")
print(str1)
c = ['Lyfe', 'is', 'too', 'short'] 
print(c[0])
c[0] = "Life" # 리스트는  index를 이용해서 요소의 값을 변경할 수 있다.
print(c)
print(str1[len(str1) -1])
print(c[len(c) -1])

y
Life is too short
Lyfe
['Life', 'is', 'too', 'short']
t
short

In [125]:
# 리스트 함수
# 리스트에 요소 추가 
#append()
l1 = ['Life','is']
print(l1 + ['too'])
l1 = l1 + ['too']
print(l1)
l1.append('short')
print(l1)
l1.append(3)
print(l1)
# 원하는 위치에 요소 삽입하기
#insert
l1 = ['Life','short']
#       0      1
print(l1)
l1.insert(1, 'is')
print(l1)
l1.insert(2, 'too')
print(l1)
# extend
a = [1,2,3]
b = [4,5,6]
a = a + b
print(a)
a.extend(b)
print(a)

['Life', 'is', 'too']
['Life', 'is', 'too']
['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short', 3]
['Life', 'short']
['Life', 'is', 'short']
['Life', 'is', 'too', 'short']
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 4, 5, 6]

In [165]:
#요소 삭제
l1 = ['Life', 'is', 'too', 'short']
print(l1) # ['Life', 'is', 'too', 'short']
#              0      1      2       3
#index를 이용해서 삭제 : del
del l1[2] # indexing
print(l1)  # ['Life', 'is', 'short']
del l1[1:1+2] # slicing
print(l1)
print("==" * 30)
# 요소를 이용해서 삭제 : remove
l1 = ['Life', 'is', 'too', 'short']
l1.remove("too")
print(l1)
l1.remove("is")
print(l1)
result = l1.remove("Life") # 삭제만 한다.
print(result) # None #삭제한 값을 알 수 없다.
### 삭제한 값을 다시 받아오도록 : pop
l1 = ['Life', 'is', 'too', 'short']
#        0     1      2       3
result = l1.pop() # 마지막요소 값을 가지고 오면서 삭제
print(l1) # ['Life', 'is', 'too']
print(result) # 'short'
result = l1.pop(1) # index를 이용해서 요소 삭제
print(l1) # ['Life', 'is']
#              0       1
print(result) 
# pop : 삭제 한 값을 알 수 있으므로 로또프로그램 : 비복원추출 프로그램을 만들 수 있다. 
# 주사위 : 복원추출
# 리스트에서 요소삭제할 수 있는 명령어는 : 
# del, remove() # 삭제만 함 
# pop() # 삭제한 값이 무엇인지 알려줌

['Life', 'is', 'too', 'short']
['Life', 'is', 'short']
['Life']
============================================================
['Life', 'is', 'short']
['Life', 'short']
None
['Life', 'is', 'too']
short
['Life', 'too']
is

In [190]:
# 정렬 -- 오름차순, 내림차순
l = [4,2,5,1,3]
# 오름차순
l.sort()
print(l)
l = [4,2,5,1,3]
# 내림차순
l.sort(reverse=True)
print(l)
l = ['b','a','c']
l.sort()
print(l)
l.sort(reverse=True)
print(l)
l = ['다','가','나']
l.sort() # 사전
print(l)
l = ['b','a','c','다','가','나']
l.sort() # 사전
print(l)
''' 주석
l = ['b','a','c',3,1,2]
l.sort() # 문자열과 숫자가 혼합된 리스트는 정렬 (x):
print(l) 
'''
print()

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
['a', 'b', 'c']
['c', 'b', 'a']
['가', '나', '다']
['a', 'b', 'c', '가', '나', '다']

In [194]:
print(l1)
idx = l1.index('too') # 요소의 index를 가져옴
print(idx)
# idx = l1.find('too') # 'list' object has no attribute 'find'
length = len(l1)
print(length)

['is', 'too', 'short']
1
3

In [204]:
# 자료형 : 
#  정수 : 10
#  실수 : 10.5 
#  문자 : "", '', """""", '''''';
# 파이썬의 자료형
#  리스트 : [] , [1], [10.5, 1.5] [1.2 ,'a']
#  튜플 : (), (1,),  (10.5, 1.5) (1.2 ,'a')
l = [1,2,3,4] # 리스트
t = (1,2,3,4) # 튜플
print((1,2,3,4,5))
print([1,2,3,4,5])
print(l)
print(t)
print([1])
print(3 * (5 + 2)) # 21 ():최우선 연산자.
print((1)) # 최우선 연산자
print((1,)) #튜플 : 요소가 하나인 경우
print((1,2))

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]
[1, 2, 3, 4]
(1, 2, 3, 4)
[1]
21
1
(1,)
(1, 2)

In [207]:
l = [] # 빈 리스트
t = () #빈 튜플
l = [1] #  요소가 하나인 리스트
t = (1,) #  요소가 하나인 튜플
l = [1,2,3,4,5,6] # 정수형 리스트
t = (1,2,3,4,5) # 정수형 튜플
t = (1.2, 4.6, 10.5) # 실수형 튜플
t = ("이숭무", "이상범", "이장범") #문자형 튜플
t = (1,2,3, 1.2, 4.6, "이상범", "이장범") # 혼합형 튜플
t = (1,2,3, 1.2, 4.6, "이상범", "이장범", [1,2,34]) # 혼합형 튜플
t = (1,2,3, 1.2, 4.6, "이상범", "이장범", (1,2,34) ) # 튜플을 포함한 튜플
t = (1,2,3, 1.2, 4.6, "이상범", "이장범", (1,2,34), [1,2,34] )
l = [1,2,3, 1.2, 4.6, "이상범", "이장범", (1,2,34), [1,2,34] ]

t = 1,2,3,4,5,6 # 튜플을 만들 때 소괄호를 사용하지 않아도 된다.
print(t)
print(l)

(1, 2, 3, 4, 5, 6)
[1, 2, 3, 1.2, 4.6, '이상범', '이장범', (1, 2, 34), [1, 2, 34]]

In [230]:
str1 = "Life is too short"
#       01234567890123456
#                 1
print(str1[2])
l1= ['Life','is', 'too', 'short']
print(l1[2])
t1= ('Life','is', 'too', 'short')
print(t1[2])
print(str1[2:])
print(l1[2:])
print(t1[2:])
print(str1[2:2+2])
print(l1[2:2+2])
print(t1[2:2+2])

print("==" * 30)
print(str1)
print(str1[2])
# str1[2] = 'F'
str1 = str1.replace("Life","LiFe")
print(str1)
print(l1) # ['Life', 'is', 'too', 'short']
print(l1[0])
l1[0] = 'LiFe'
print(l1)
print(t1) # ('Life', 'is', 'too', 'short')
print(t1[0]) # Life
# t1[0] = 'LiFe'
# 튜플과 리스트의 차이는 : 여러개의 값을 저장
#리스트는 index를 이용해서 요소의 값을 변경할 수 있지만 
#튜플은 index 를 이용해서 요소의 값을 변경 할 수 없다.

f
too
too
fe is too short
['too', 'short']
('too', 'short')
fe
['too', 'short']
('too', 'short')
============================================================
Life is too short
f
LiFe is too short
['Life', 'is', 'too', 'short']
Life
['LiFe', 'is', 'too', 'short']
('Life', 'is', 'too', 'short')
Life

In [236]:
l1 = ['LiFe', 'is', 'too', 'short']
del l1[0]
print(l1)
t1 = ('LiFe', 'is', 'too', 'short')
#del t1[0]  # 'tuple' object doesn't support item deletion
print(t1)
#튜플은 한번 저장된 값을 변경하지 않게 하기 위해 만들어진 자료형
print(l1.index("too"))
print(t1.index("too"))
print(len(l1))
print(len(t1))

['is', 'too', 'short']
('LiFe', 'is', 'too', 'short')
1
2
3
4