In [7]:
#자료형 : 기본자료형 : 
#            리터널 : 정수 : 10 
#                    실수 : 10.5
#                    문자 : "a", '이숭무' , "10"(문자) , "10.5"(문자) , y : 변수
#       : 파이썬 : 리스트 : [] : 여러개의 값을 저장  : 
i = 10
print(i)
i = 20 # 한개 값만 저장한다는 단점
print(i)
f = 10.5
print(f)
f = 1.5
print(f)
str1 = "이숭무"
print(str1)
i1 = 10
print(i1)
print(i)

10
20
10.5
1.5
이숭무
10
20

In [8]:
str1 = "Life is too short"
result = str1.split() 
print(result)

['Life', 'is', 'too', 'short']

In [9]:
l = ['Life', 'is', 'too', 'short']
print(l)

['Life', 'is', 'too', 'short']

In [10]:
# 리스트 형식
l = [] # 빈 리스트
l = [1,2,3,4] #정수형 리스트
l = ["이숭무", "이상범", "이장범"] # 문자열형 리스트
l = [10, "이숭무", 10.5] #혼합형 리스트
l = [10, "이숭무", 10.5,[1,2,3]] # 리스트를 포함한 혼합형 리스트
l = [[1,2,3,4] , [5,6,7,8]] #리스트를 포함한 리스트

In [17]:
# indexing 
str1 = "Life is too short"
#                 1
#       01234567890123456
#       11111111
#      -76543210987654321
print(str1[2])
l = ["이숭무", "이상범", "이장범"] 
#       0         1         2 index
#      -3         2         1
print(l[0])
print(l[1])
print(l[2])
print(str1[0])
print(str1[1])
print(str1[2])
print(str1[-17])
print(str1[-16])
print(str1[-15])
print(l[-3])
print(l[-2])
print(l[-1])

f
이숭무
이상범
이장범
L
i
f
L
i
f
이숭무
이상범
이장범

In [35]:
l=[1 , 2 , 'Life' , 'is', [3,4,5] , 'too' , [1] , 0.5 , 'short', "30"]
#    0   1    2       3      4        5     6     7       8      9  
print(l[0]) # 정수
print(l[2]) # 문자
print(l[4]) # 리스트
print(l[6]) # 리스트
print(l[7]) # 실수
print(l[9]) # 문자
# 리스트를  indexing을 했더니 결과 값은 요소의 본연의 자료형으로 가져온다.
print(l[0] + l[1])
print(l[2] + l[3])
print(l[5] * l[1])  # 자료형이 가진 연산자를 사용할 수 있다.
print(l[1] +  int(l[9]))
print(str(l[0]) + l[9] )

1
Life
[3, 4, 5]
[1]
0.5
30
3
Lifeis
tootoo
32
130

In [44]:
a = [1, 2, 3, ['a', 'b', 'c']]
#    0  1  2         3
#               0    1    2
#   -4  3  2         1
#              -3    2    1
print(a)
l1 = a[3]
print(l1)  # ['a', 'b', 'c']
#              0    1    2
print(l1[1])
print(a[3][1])
print(a[3][2])

print(a[-1][-2])
print(a[3][-2])

[1, 2, 3, ['a', 'b', 'c']]
['a', 'b', 'c']
b
b
c
b
b

In [49]:
a = [1, 2, 3, ['a', 'b', ['life', 'is'] ] ]
#    0  1  2             3
#               0     1         2   
#                            0      1
print(a[3]) # ['a', 'b', ['life', 'is']]
#               0    1         3
b = a[3] 
print(b) # ['a', 'b', ['life', 'is']]
#            0    1          2
c  = b[2]  # ['life', 'is']
#               0       1
print(c) 
print(a[3][2][0]) # life : 문자
#                   0123
print(a[3][2][0][1]) # i

['a', 'b', ['life', 'is']]
['a', 'b', ['life', 'is']]
['life', 'is']
life
i

In [65]:
# slicing
str1 ='Life is too short'
#      01234567890123456
#                1
print(str1[0:4])
print(str1[8:8+3])
l = [1, 2, 3, 4]
#    0  1  2  3
print(l[1])
print(l[0:0+3])
print(l[1:1+3])
print(l[1:4])
print("==" * 30)
print(l[1]) # indexing을 하는 경우에는  요소가지고 있는 자료형으로 출력
print(l[1:1+2]) # slicing을 하면 리스트로 출력이 된다.
print(l[2])
print(l[2:2+1])

print(l[2] + l[3])
# print(l[2:2+1] + l[3])
# print(int(l[2:2+1]) + l[3])

Life
too
2
[1, 2, 3]
[2, 3, 4]
[2, 3, 4]
============================================================
2
[2, 3]
3
[3]
7

In [73]:
result = ['Life', 'is', 'too', 'short'] 
#           0      1       2      3
print(result)
print(result[0])
print(result[1]) # indexing
print(result[1: 1+2])
print(result[1: 1+1]) # slicing
print(result[0] + result[1])
# print(result[1: 1+1] + result[0])

['Life', 'is', 'too', 'short']
Life
is
['is', 'too']
['is']
Lifeis

In [104]:
# 리스트의 연산자 : + , *
l = [1,2,3,4,'Life', 'is', 'too', 'short']
print(l[0] + l[1])
print(l[4] + l[5])
print(l[0:0+1] + l[1:1+1]) # [0] + [1] # 연결
print(l[0:0+3] + l[4:4+3]) # [1,2,3] + ['Life', 'is', 'too']
print(l[3:3+3])
print(l[2])
print(l[3:3+3] * l[2]) # 리스트 * 정수
str1 = "Life is too short"
#                     -21
print(str1[0:])
print(str1[0: -1])
print("==" * 30)
print(str1[0: 0 + 0])
print(str1[1: 1 + 0])
print("==" * 30)
print(str1[:])
print("==" * 30)
print(str1[::-1])
print(l)
print(l[:])
print(l[::-1])
print("==" * 30)
print(str1[3:8])
print(str1[7:2:-1])
print(l[3:8])  # [4, 'Life', 'is', 'too', 'short']
print(l[7:2:-1]) # ['short', 'too', 'is', 'Life', 4]

3
Lifeis
[1, 2]
[1, 2, 3, 'Life', 'is', 'too']
[4, 'Life', 'is']
3
[4, 'Life', 'is', 4, 'Life', 'is', 4, 'Life', 'is']
Life is too short
Life is too shor
============================================================


============================================================
Life is too short
============================================================
trohs oot si efiL
[1, 2, 3, 4, 'Life', 'is', 'too', 'short']
[1, 2, 3, 4, 'Life', 'is', 'too', 'short']
['short', 'too', 'is', 'Life', 4, 3, 2, 1]
============================================================
e is
 si e
[4, 'Life', 'is', 'too', 'short']
['short', 'too', 'is', 'Life', 4]

In [111]:
str1 = 'Lyfe is too short'
print(str1[1])
# str1[1] = "i"
str1 = str1.replace("Lyfe", "Life")
print(str1)
c = ['Lyfe', 'is', 'too', 'short'] 
print(c[0])
c[0] = "Life" # 리스트는  index를 이용해서 요소의 값을 변경할 수 있다.
print(c)
print(str1[len(str1) -1])
print(c[len(c) -1])

y
Life is too short
Lyfe
['Life', 'is', 'too', 'short']
t
short

In [125]:
# 리스트 함수
# 리스트에 요소 추가 
#append()
l1 = ['Life','is']
print(l1 + ['too'])
l1 = l1 + ['too']
print(l1)
l1.append('short')
print(l1)
l1.append(3)
print(l1)
# 원하는 위치에 요소 삽입하기
#insert
l1 = ['Life','short']
#       0      1
print(l1)
l1.insert(1, 'is')
print(l1)
l1.insert(2, 'too')
print(l1)
# extend
a = [1,2,3]
b = [4,5,6]
a = a + b
print(a)
a.extend(b)
print(a)

['Life', 'is', 'too']
['Life', 'is', 'too']
['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short', 3]
['Life', 'short']
['Life', 'is', 'short']
['Life', 'is', 'too', 'short']
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 4, 5, 6]

In [165]:
#요소 삭제
l1 = ['Life', 'is', 'too', 'short']
print(l1) # ['Life', 'is', 'too', 'short']
#              0      1      2       3
#index를 이용해서 삭제 : del
del l1[2] # indexing
print(l1)  # ['Life', 'is', 'short']
del l1[1:1+2] # slicing
print(l1)
print("==" * 30)
# 요소를 이용해서 삭제 : remove
l1 = ['Life', 'is', 'too', 'short']
l1.remove("too")
print(l1)
l1.remove("is")
print(l1)
result = l1.remove("Life") # 삭제만 한다.
print(result) # None #삭제한 값을 알 수 없다.
### 삭제한 값을 다시 받아오도록 : pop
l1 = ['Life', 'is', 'too', 'short']
#        0     1      2       3
result = l1.pop() # 마지막요소 값을 가지고 오면서 삭제
print(l1) # ['Life', 'is', 'too']
print(result) # 'short'
result = l1.pop(1) # index를 이용해서 요소 삭제
print(l1) # ['Life', 'is']
#              0       1
print(result) 
# pop : 삭제 한 값을 알 수 있으므로 로또프로그램 : 비복원추출 프로그램을 만들 수 있다. 
# 주사위 : 복원추출
# 리스트에서 요소삭제할 수 있는 명령어는 : 
# del, remove() # 삭제만 함 
# pop() # 삭제한 값이 무엇인지 알려줌

['Life', 'is', 'too', 'short']
['Life', 'is', 'short']
['Life']
============================================================
['Life', 'is', 'short']
['Life', 'short']
None
['Life', 'is', 'too']
short
['Life', 'too']
is

In [190]:
# 정렬 -- 오름차순, 내림차순
l = [4,2,5,1,3]
# 오름차순
l.sort()
print(l)
l = [4,2,5,1,3]
# 내림차순
l.sort(reverse=True)
print(l)
l = ['b','a','c']
l.sort()
print(l)
l.sort(reverse=True)
print(l)
l = ['다','가','나']
l.sort() # 사전
print(l)
l = ['b','a','c','다','가','나']
l.sort() # 사전
print(l)
''' 주석
l = ['b','a','c',3,1,2]
l.sort() # 문자열과 숫자가 혼합된 리스트는 정렬 (x):
print(l) 
'''
print()

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
['a', 'b', 'c']
['c', 'b', 'a']
['가', '나', '다']
['a', 'b', 'c', '가', '나', '다']

In [194]:
print(l1)
idx = l1.index('too') # 요소의 index를 가져옴
print(idx)
# idx = l1.find('too') # 'list' object has no attribute 'find'
length = len(l1)
print(length)

['is', 'too', 'short']
1
3

In [204]:
# 자료형 : 
#  정수 : 10
#  실수 : 10.5 
#  문자 : "", '', """""", '''''';
# 파이썬의 자료형
#  리스트 : [] , [1], [10.5, 1.5] [1.2 ,'a']
#  튜플 : (), (1,),  (10.5, 1.5) (1.2 ,'a')
l = [1,2,3,4] # 리스트
t = (1,2,3,4) # 튜플
print((1,2,3,4,5))
print([1,2,3,4,5])
print(l)
print(t)
print([1])
print(3 * (5 + 2)) # 21 ():최우선 연산자.
print((1)) # 최우선 연산자
print((1,)) #튜플 : 요소가 하나인 경우
print((1,2))

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]
[1, 2, 3, 4]
(1, 2, 3, 4)
[1]
21
1
(1,)
(1, 2)

In [207]:
l = [] # 빈 리스트
t = () #빈 튜플
l = [1] #  요소가 하나인 리스트
t = (1,) #  요소가 하나인 튜플
l = [1,2,3,4,5,6] # 정수형 리스트
t = (1,2,3,4,5) # 정수형 튜플
t = (1.2, 4.6, 10.5) # 실수형 튜플
t = ("이숭무", "이상범", "이장범") #문자형 튜플
t = (1,2,3, 1.2, 4.6, "이상범", "이장범") # 혼합형 튜플
t = (1,2,3, 1.2, 4.6, "이상범", "이장범", [1,2,34]) # 혼합형 튜플
t = (1,2,3, 1.2, 4.6, "이상범", "이장범", (1,2,34) ) # 튜플을 포함한 튜플
t = (1,2,3, 1.2, 4.6, "이상범", "이장범", (1,2,34), [1,2,34] )
l = [1,2,3, 1.2, 4.6, "이상범", "이장범", (1,2,34), [1,2,34] ]

t = 1,2,3,4,5,6 # 튜플을 만들 때 소괄호를 사용하지 않아도 된다.
print(t)
print(l)

(1, 2, 3, 4, 5, 6)
[1, 2, 3, 1.2, 4.6, '이상범', '이장범', (1, 2, 34), [1, 2, 34]]

In [230]:
str1 = "Life is too short"
#       01234567890123456
#                 1
print(str1[2])
l1= ['Life','is', 'too', 'short']
print(l1[2])
t1= ('Life','is', 'too', 'short')
print(t1[2])
print(str1[2:])
print(l1[2:])
print(t1[2:])
print(str1[2:2+2])
print(l1[2:2+2])
print(t1[2:2+2])

print("==" * 30)
print(str1)
print(str1[2])
# str1[2] = 'F'
str1 = str1.replace("Life","LiFe")
print(str1)
print(l1) # ['Life', 'is', 'too', 'short']
print(l1[0])
l1[0] = 'LiFe'
print(l1)
print(t1) # ('Life', 'is', 'too', 'short')
print(t1[0]) # Life
# t1[0] = 'LiFe'
# 튜플과 리스트의 차이는 : 여러개의 값을 저장
#리스트는 index를 이용해서 요소의 값을 변경할 수 있지만 
#튜플은 index 를 이용해서 요소의 값을 변경 할 수 없다.

f
too
too
fe is too short
['too', 'short']
('too', 'short')
fe
['too', 'short']
('too', 'short')
============================================================
Life is too short
f
LiFe is too short
['Life', 'is', 'too', 'short']
Life
['LiFe', 'is', 'too', 'short']
('Life', 'is', 'too', 'short')
Life

In [252]:
l1 = ['LiFe', 'is', 'too', 'short']
del l1[0]
print(l1)
t1 = ('LiFe', 'is', 'too', 'short')
#del t1[0]  # 'tuple' object doesn't support item deletion
print(t1)
#튜플은 한번 저장된 값을 변경하지 않게 하기 위해 만들어진 자료형
print(l1.index("too"))
print(t1.index("too"))
print(len(l1))
print(len(t1))
l2 = [1,2,3,3,4,5,3]
print(l2.count(3))
t2 = (1,2,3,3,4,5,3)
print(t2.count(3))

['is', 'too', 'short']
('LiFe', 'is', 'too', 'short')
1
2
3
4
3
3

In [250]:
l1 = ['Life', 'is', 'too', 'short']
t1 = ('Life', 'is', 'too', 'short')
print(l1[0])
print(t1[0])
print(l1[1:3])
print(t1[1:3])
# 튜플 연산자. + , *
print(l1[1:3])
print(l1[2:4])
print(l1[1:3] + l1[2:4])
print(t1[1:3])
print(t1[2:4])
print(t1[1:3] + t1[2:4])
print(l1[1:3] * 3)
print(t1[1:3] * 3)

Life
Life
['is', 'too']
('is', 'too')
['is', 'too']
['too', 'short']
['is', 'too', 'too', 'short']
('is', 'too')
('too', 'short')
('is', 'too', 'too', 'short')
['is', 'too', 'is', 'too', 'is', 'too']
('is', 'too', 'is', 'too', 'is', 'too')

In [263]:
# 형변환
str2 = "hello"
l2 = list(str2)
print(l2)
t2 = tuple(str2)
print(t2)
l3 = list(t2)
print(l3)
t3 = tuple(l2)
print(t3)

print("==" * 30)

i = int("10")
print( 20 + i)
s = str(10)
print("20" + s)
f = float("10.5")
print(20.5 + f)
f1 = float(i)
print(f1)
i1 = int(10.5)
print(i1)

['h', 'e', 'l', 'l', 'o']
('h', 'e', 'l', 'l', 'o')
['h', 'e', 'l', 'l', 'o']
('h', 'e', 'l', 'l', 'o')
============================================================
30
2010
31.0
10.0
10

In [270]:
l3  = list("hello")
print(l3)
s3 = str(l3) # 리스트는 str함수를 이용해서  문자로 형변환이 안된다.
print(s3)

['h', 'e', 'l', 'l', 'o']
['h', 'e', 'l', 'l', 'o']

In [273]:
# 리스트나 튜플를 문자로 형변환
s4 = "".join(l3)
print(s4)
print(t3)
s4 = "".join(t3)
print(s4)

hello
('h', 'e', 'l', 'l', 'o')
hello

In [285]:
l = ['Life', 'is', 'too', 'short' ]
t = ('Life', 'is', 'too', 'short' )
print(l)
print(t)
print(" ".join(l))
print(" ".join(t))
print(":".join(l))
print(":".join(t))
s4 = "hello"
print(",".join(s4))

['Life', 'is', 'too', 'short']
('Life', 'is', 'too', 'short')
Life is too short
Life is too short
Life:is:too:short
Life:is:too:short
h,e,l,l,o

In [288]:
# 자료형 : 정수, 실수, 문자, 리스트, 튜플
# 딕셔너리(사전) : {key1 : value1, key2 : value2, key3 : value3, ..., key_n : value_n}
#{키 : 값, 키 : 값} :json # 자바 : Map
l = [] # 빈 리스트
t = () # 빈 튜플
d = {} # 빈 딕셔너리
dic = {'name':'이숭무', 'age': 30, 'height': 173.5}
print(dic) # {'name': '이숭무', 'age': 30, 'height': 173.5}
print(dic['name'])
print(dic['age'])
print(dic['height'])

{'name': '이숭무', 'age': 30, 'height': 173.5}
이숭무
30
173.5

In [301]:
l = [1,2,3,4]
#    0 1 2 3
print(l[0])
t = (1,2,3,4)
#    0 1 2 3
print(t[0])
dic = {1: '이숭무', 2: 30 , 0 : 173.5} # 딕셔너라에서는 index를 사용하지 않는다.
#      0           1       2  (x)
print(dic[0])
print(dic[1])
print(dic[2])

l[1] = 12
print(l)  # [1, 12, 3, 4]
#            0   1  2  3
dic[1] = "김찬중"
print(dic)
# l[4] = 40 # index가 없는 경우에는 오류 발생
print(dic) #{1: '김찬중', 2: 30, 0: 173.5}
dic[3] = '이상범'
print(dic) # {1: '김찬중', 2: 30, 0: 173.5, 3: '이상범'}
# 딕셔너리는 키가 있으면 수정하고 키가없으면 추가를 한다.
# 딕셔너리는 중복키를 허용하지 않는다.
dic3 = {1:'이', 1: '숭'}
print(dic3)
dic3 = {1:'이'}
dic3[1] = '숭'
print(dic3)

1
1
173.5
이숭무
30
[1, 12, 3, 4]
{1: '김찬중', 2: 30, 0: 173.5}
{1: '김찬중', 2: 30, 0: 173.5}
{1: '김찬중', 2: 30, 0: 173.5, 3: '이상범'}
{1: '숭'}
{1: '숭'}

In [315]:
# 딕셔너리 함수 
dic1 = {'name':'이숭무', 'age':35, 'height':175.5}
l = [1,2,3,4]
#    0 1 2 3 : index
#요소 삭제
del l[1]
print(l)
del dic1['name']
print(dic1)
# 딕셔너리에 있는 키를 가져오기
print(dic1.keys())
# 딕셔너리에 있는 값를 가져오기
print(dic1.values())
# 키와 값을 튜플로 묶어서 가져오기
print(dic1.items())
# print(dic1.items()[0]) : dict_items
# 요소를 모두 삭제하기
l = [1,2,3,4,5]
print(l[:])
del l[:]
print(l)
l = [1,2,3,4,5]
l.clear() 
print(l)
print(dic1)
dic1.clear()
print(dic1)

[1, 3, 4]
{'age': 35, 'height': 175.5}
dict_keys(['age', 'height'])
dict_values([35, 175.5])
dict_items([('age', 35), ('height', 175.5)])
[1, 2, 3, 4, 5]
[]
[]
{'age': 35, 'height': 175.5}
{}

In [360]:
dic = {'name': 'pey', 'phone': '0119993323', 'birth': '19991118'}
print(dic)
print(dic['name'])
print(dic.get('name'))

#print(dic['addr']) # 키가 없으면 오류 발생
print(dic.get('addr'))  # None
print(dic.get('addr', '서울'))

dic1 = {'classic':500, 'pop' : 700 , 'jazz' : 900}
dic2 = {'classic':500, 'pop' : 700 }
print(dic1['classic'] + dic2['classic'] )
print(dic1['pop'] + dic2['pop'] )
# print(dic1['jazz'] + dic2['jazz'] )
print(dic1.get('jazz') + dic2.get('jazz', 0) )
print(dic1.get('classic',0) + dic2.get('classic',0) )
print(dic1.get('pop', 0) + dic2.get('pop', 100) )

{'name': 'pey', 'phone': '0119993323', 'birth': '19991118'}
pey
pey
None
서울
1000
1400
900
1000
1400

In [339]:
# 정수, 실수 문자 리스트 튜플 
# 딕셔너리 {키 : 값}, {}
# 집합  : 합집합 , 교집합, 차집합
ss = {1,2,3,4,5,6}
print(ss)
ss = {1}
print(ss)
ss = {1,1,2,2,3,3,4,4,5}
print(ss) # 중복데이터를 허용하지 않는다. 집합에는 순서가 없다.
l1 = [1,2,3,4]
t1 = (1,2,3,4)
s1 = set(l1) # set은 집합자료형으로 형변환하는 함수
print(s1)
s1 = set(t1)
print(s1)
str2 = "hello"
s1 = set(str2)
print(s1)

{1, 2, 3, 4, 5, 6}
{1}
{1, 2, 3, 4, 5}
{1, 2, 3, 4}
{1, 2, 3, 4}
{'h', 'l', 'o', 'e'}

In [343]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}
# 교집합
print(s1 & s2)
print(s1.intersection(s2))
# 합집합 
print(s1 | s2)
print(s1.union(s2))
# 차집합
print(s1 - s2) # s1에서 교집합을 빼라 1,2
print(s2 - s1) # s2에서 교집합을 빼라 5,6
print(s1.difference(s2))

{3, 4}
{3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2}
{5, 6}
{1, 2}

In [358]:
# 하나의 요소 추가
s1 = {1, 2, 3, 4}
print(s1)
s1.add(7)
print(s1)
s1.add(9)
print(s1)
s1.add('a')
print(s1)
#s1에 10,11,12를 추가
#s1.add(10,11,12)
#s1.add((10,11,12))
print(s1)
# 여러개의 요소 추가
s1.update((10,11,12))
print(s1)
s1.update([10,11,12])
print(s1)
# 삭제 
s1.remove('a')
print(s1)
# s1.remove((1,2,3)) 여러개의 요소를 같이 삭제 할 수 없다.

{1, 2, 3, 4}
{1, 2, 3, 4, 7}
{1, 2, 3, 4, 7, 9}
{1, 2, 3, 4, 'a', 7, 9}
{1, 2, 3, 4, 'a', 7, 9}
{1, 2, 3, 4, 'a', 7, 9, 10, 11, 12}
{1, 2, 3, 4, 'a', 7, 9, 10, 11, 12}
{1, 2, 3, 4, 7, 9, 10, 11, 12}

In [365]:
# 정수, 실수, 문자, 부울 :  참/거짓
# 파이썬 자료형 : 리스트, 튜플, 딕셔너리, 집합
bl = True
print(bl)
bl = False
print(bl)
#bl = true # name 'true' is not defined
bl = 'true'
print(bl)
bl = 'True'
print(bl)

True
False
true
True

In [374]:
# 부울 타입을 사용하는 때
# 논리연산
print(True and True)
print(True and False)
print(True or False)
# 부울 타입타입으로 연산하기 위해서는 결과가 불타입이어야 한다.
# 관계연산(비교연산)의 결과는 부울타입
print( 10 > 9)
# 논리연산을 하기 위해서는 결과가 부울타입이 와야 하므로 관계연산하고 같이 연산을 하는 경우가 많다.
mat = 40
eng = 80
#각 과목이 40점이상이고 평균이 60점 이상이면 True 아니면 Fasle
result = mat >= 40 and eng >= 40 and (mat + eng) / 2 == 60
print(result)
if result:
    print('합격')
else:
    print('불합격')    

if mat >= 40 and eng >= 40 and (mat + eng) / 2 == 60:
    print('합격')
else:
    print('불합격')

True
False
True
True
True
합격
합격

In [388]:
### 형변환함수 : int(), str(), float(),list(),tuple(),set() , bool() : 참/거짓
print(bool('이숭무'))
print(bool(''))
print(bool(-1))
print(bool(100))
print(bool(0))
print(bool(0.0))
print(bool(0.1))
print(bool([]))
print(bool([1,2,3,4]))
print(bool(()))
print(bool((1,2,3,4)))
print(bool({}))
print(bool({1:'이숭무'}))
print(bool(None))

True
False
True
True
False
False
True
False
True
False
True
False
True
False

In [ ]:
# 정수 , 실수 , 문자, 리스트, 튜플, 딕셔너리, 집합, 부울

In [391]:
# 변수가 가지고 있는 자료형을 확인
str1 = 'hello' #문자열형 변수 <class 'str'>
i = 10 # 정수형변수 <class 'int'>
f = 10.5
l = [1,2,3,4]
t = (1,2,3,4)
dic = {1:'이'}
s = {1,2,3,4}
b = True
print(type(i))
print(type(str1))
print(type(f)) # <class 'float'>
print(type(l))
print(type(t))
print(type(dic))
print(type(s))
print(type(b))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>
<class 'bool'>

In [400]:
#변수를 만드는 여러 가지 방법
a = 10
l = [1,2,3,4]
a , b, c = 10, 20, 30
print(a,b,c)
a , b, c = (10, 20, 30)
print(a,b,c)
a , b, c = [10, 20, 30]
print(a,b,c)
(a , b, c) = 10, 20, 30
print(a,b,c)
[a , b, c] = 10, 20, 30
print(a,b,c)
(a , b, c) = (10, 20, 30)
print(a,b,c)
[a , b, c] = [10, 20, 30]
print(a,b,c)
a , b, c = 10, 20, '이숭무'
print(a,b,c)
# a , b, c = 10, 20
# print(a,b,c)

10 20 30
10 20 30
10 20 30
10 20 30
10 20 30
10 20 30
10 20 30
10 20 이숭무

In [404]:
# 값 서로 교환하기
a = 10; b = 20
print("일반적인 형식")
temp = b
b = a
a = temp
print(a, b)
print("===" * 30)
print("python방식")
a , b = b, a
print(a, b)

일반적인 형식
20 10
==========================================================================================
python방식
10 20

In [407]:
# 제어문 : 조건문, 반복문
# bool타입을 이용해서 원하는 결과를 가져오기 윈한 작업: 비교연산 , 논리연산
# 제어문을 사용하려면 참 / 거짓인 결과를 가져와야 한다.
if True:
    print("참")
    
if False:
    pass
else:
    print("거짓")
# 조건식이란  참 또는 거짓인 결과를 가지고 오는 비교연산과 논리 연산을 말한다.
# if문 안에 있는 명령어를 실행 시키기 위해서는 들여쓰기가 되어야 한다.
# 들여쓰기는 tab키나 space를 사용할 수 있는데 두가지를 동시에 사용할 수 없다
if True:
    print("참")
else:
    print("거짓")     
# tab을 많이 사용한다.
# 조건식 뒤에는 :이 와야한다.
'''
if 조건식 :
    명령어1
    명령어2
    ...
    명령어n
명령어
'''
print()

참
거짓
참

In [416]:
#  단일 if
a = 10
if a > 20:
    print("a는 20보다 큽니다")

    print("안녕")
print("실행끝")
if a < 20:
    print("a는 20보다 작습니다")
print("실행끝")

실행끝
a는 20보다 작습니다
실행끝

In [418]:
money = 2000
if money >= 2000:
    print("차를타고 가시오")
if money < 2000:
    print("걸어가시오")

걸어가시오

In [426]:
### if ~ else
money = 2000
if money >= 2000: #True
    print("차를타고 가시오")
    print("차를타고 가시오")
    print("차를타고 가시오")
    print("차를타고 가시오")
    print("차를타고 가시오")
else: # False
    print("걸어가시오")
x = 10; y = 20
if x == y:
    print("x와 y는 같다")
else:
    print("x와 y는 다르다")

if x != y:
    print("x와 y는 다르다")
else:
    print("x와 y는 같다")

mat = 40
eng = 60
kor = 80 
# 이때 각 과목의 점수는 40이상이어야 하며 평균은 60점이상 이어야 한다.
# 조건에 만족하면 합격 아니면 불합격
result = mat >= 40 and eng >= 40 and kor >= 40 and (eng+kor+mat) / 3 >= 60
print(result)
if result:
    print("합격")
else:
    print("불합격")

if mat >= 40 and eng >= 40 and kor >= 40 and (eng + kor + mat) / 3 >= 60:
    print("합격")
else:
    print("불합격")

차를타고 가시오
차를타고 가시오
차를타고 가시오
차를타고 가시오
차를타고 가시오
x와 y는 다르다
x와 y는 다르다
True
합격
합격

In [440]:
#in연산자 사용하기
print (1 in [1,2,3,4])
print (7 in [1,2,3,4])
l = [1,2,3,4]
print( 3 in l)
print (1 in (1,2,3,4))
print (7 in (1,2,3,4))
t = (1,2,3,4)
print( 3 in t)
print (7 not in (1,2,3,4))
print( 3 not in l )
print( 'y' in "python")
print( 'th' in "python")
print( '이숭무' in "python")
print( '이숭무' not in "python")

print( 1 in {1:'이', 2:'숭'}) #키가 있는지
dic = {1:'이', 2:'숭'}
print( 1 in dic)
print( 1 not in dic)
print( 3 not in dic)

True
False
True
True
False
True
True
False
True
True
False
True
True
True
False
True

In [443]:
if "k"  in "python":
    print("k가 있습니다")
else:
    print("k가 없습니다.")

str1 = "python"
if "k"  in str1:
    print("k가 있습니다")
else:
    print("k가 없습니다.")

l = [1,2,3,4,5,6]
if 6 in l:
     print("리스트에 6이 있습니다.")
else:
     print("리스트에 6이 없습니다.")

if 6 not in l:
    print("리스트에 6이 없습니다.") 
else:
    print("리스트에 6이 있습니다.") 

pocket = ['paper', 'cellphone', 'money']
if "money" in  pocket:
    print('주머니에 돈이 있어요.')
else:
    print('주머니에 돈이 없어요.')

if "money" not in  pocket:
    print('주머니에 돈이 없어요.')
else:
    print('주머니에 돈이 있어요.')

k가 없습니다.
k가 없습니다.
리스트에 6이 있습니다.
리스트에 6이 있습니다.